<li data-action="click->search#searchSavedWeather" data-id="<%= location.zip_code %>" class="list-group-item d-flex justify-content-between lh-condensed">
  <div>
    <h6 class="my-0"><%= location.name %></h6>
    <small class="text-muted"><%= location.zip_code %></small>
  </div>
</li>
